@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>El Manaba Licores</h1>
    <p class="lead">Tienda de licores en Esmeraldas.</p>
    <p><a href="https://linktr.ee/LicoresElManaba" class="btn btn-primary btn-lg">Comprar &raquo;</a></p>
    <figure>
        <img src="~/Imagenes/ElManaba.jpg"
             alt="Logo"
             width="200"
             height="150">
    </figure>
</div>

<div class="row">    
    <div class="col-md-4">
        <h2>Matriz - Codesa</h2>
        <figure>
            <img src="~/Imagenes/Codesa.png"
                 alt="Logo"
                 width="400"
                 height="200">
        </figure>
    </div>
    <div class="col-md-4">
        <h2>Sucursal - Tolita 1</h2>
        <figure>
            <img src="~/Imagenes/Tolita1.png"
                 alt="Logo"
                 width="400"
                 height="350">
        </figure>
    </div>

</div>